.single-header-cover {
  background: $gray;
}
.single-footer-cover {
  background: $gray;
}
.single-main {
  display: block;
  .buy-item-box {
    width: 700px;
    background: $white;
    margin: 0 auto;
    &__head {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      padding: 16px;
    }
    &__content {
      margin: 40px 0 0;
      padding: 24px 12.5% 0;
      border-top: 1px solid #f5f5f5;
      &:first-of-type {
        margin: 0;
      }
      &:last-of-type {
        padding: 24px 12.5% 40px;
      }
      &__inner {
        max-width: 320px;
        margin: 0 auto;
      }
    }
    .item-info {
      &__image {
        img {
          width: 128px;
          vertical-align: middle;
        }
      }
      &__name {
        margin: 8px 0 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
      }
      &__purchase-btn {
        @include btn-default;
        @include btn-red;
        font-weight: 600;
        margin: 8px 0 0;
      }
    }
    .item-purchase {
      text-align: center;
      &__price {
        font-size: 22px;
        font-weight: 600;
        margin: 8px 0 0;
        line-height: 1.5;
        span {
          margin: 0 0 0 8px;
          font-size: 14px;
          font-weight: 400;
        }
      }
      &__display-point {
        background: #ccc;
        margin: 16px 0 0;
        p {
          border: 1px solid #ccc;
          padding: 16px;
        }
      }
      &__price-table {
        border-collapse: collapse;
        width: 100%;
        font-weight: 600;
        li {
          display: flex;
          justify-content: space-between;
          .kingaku {
            font-size: 18px;
            padding: 16px 0;
          }
          .yen {
            padding: 16px 0;
            font-size: 28px;
          }
        }
        
      }
    }
    .user-info {
      h3 {
        font-size: 14px;
        font-weight: bold;
      }
      address {
        display: block;
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
      }
      .buy-user-info-fix {
        display: block;
        margin: 14px;
        text-align: right;
        color: #0099e8;
        span {
          color: #0099e8;
        }
        .angle {
          color: #0099e8;
          margin: 0 0 0 8px;
        }
      }
      .buy-user-info-text {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
}
