.footer-sell-btn {
  position: fixed;
  width: 160px;
  height: 160px;
  bottom: 32px;
  right: 32px;
  font-size: 22px;
  border-radius: 50%;
  text-align: center;
  background: $red;
  div {
    margin-top: 32px;
    color: white;
  }
  .fa-camera {
    font-size: 54px;
    margin-top: 8px;
    color: white;
  }
}