.single-header {
  height: 128px;
  text-align: center;
  h1 {
    display: inline-block;
    margin-top: 40px;
  }
  a {
    height: 49px;
    width: 185px;
    line-height: 49px;
  }
  img {
    height: 49px;
    width: 185px;
  }
}