// カラー
$white: #fff;
$gray: #f5f5f5;
$light-gray: #CCC;
$red: #ea352d;
$skyblue: #0099e8;

// 新規会員登録ボタン
@mixin btn-red {
  background: $red;
  border: 1px solid $red;
  border-radius: 4px;
  color: $white;
  padding: 0px 10px;
}

// btn-default
@mixin btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
// 必須ボタン
.form-require{
  background: $red;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

// デフォルトのinputタグ
.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  outline: 0;
}

// デフォルトのtextareaタグ
.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  outline: 0;
}

// デフォルトのselectタグ
.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  outline: 0;
}