%section.items-box
  = link_to product_path(item.id), class:'items-box__block' do
    .items-box__block__image
      = image_tag 'banner-natsukashi.jpg', class: 'product-image'
    .items-box__block__body
      %h3.item-name
        #{item.name}
      .item-num
        .item-num__price
          ¥ #{item.price}
        %p.item-num__tax 
          (税)