main {
  display: block;
}
.carousel {
  height: 390px;
}

// category pickup
.pickup-container {
  padding: 40px 0;
  h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
  }
  .item-box-container-index {
    width: 940px;
    margin: 0 auto;
    .text-new-item {
      font-size: 22px;
      margin: 26px 11px;
      text-align: center;
      .new-item {
        color: $skyblue;
      }
    }
    .items-box-content {
      display: flex;
      justify-content: space-between;
      width: auto;
      .items-box {
        display: block;
        width: 213px;
        margin: 0 0 0 20px;
        &__block {
          display: block;
          &__image {
            width: 213px;
            height: 220px;
            padding: 0 0 100%;
            overflow: hidden;
            position: relative;
            img {
              width: 213px;
              height: 220px;
            }
          }
          &__body {
            background: $white;
            height: 110px;
            padding: 16px;
            .item-name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              font-size: 16px;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
            }
            .item-num {
              margin: 8px 0 0;
              &__price {
                font-size: 17px;
                font-weight: 600;
              }
              &__tax {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .view-all {
      padding: 20px 0 30px;
      text-align: right;
      .show-all {
        color: $skyblue;
      }
    }
  }
}
